<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">{{ title }}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#" disabled>Features</a>
        <a class="nav-link" href="#" disabled>Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h4>Current Weather</h4>
    <app-search></app-search>
    
    <h4>Favorites</h4>
    <app-saved></app-saved>
    
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Angular Playground</p>
    </div>
  </footer>
</div>