<div>
    <img [src]='"http://openweathermap.org/img/w/"+current.weather[0].icon+".png"'>
    <a href="#" (click)="getFiveDay()" title="Get Five Day Forecast">{{current.name}}</a> - {{current.main.temp | number: '2.0-0'}}&deg; {{current.weather[0].description}}
</div>
<div *ngIf="visible">
    <h6>Five Day Forecast</h6>
    <div class="five-day" *ngFor="let item of fiveDay.list; let i = index">
        <img [src]='"http://openweathermap.org/img/w/"+item.weather[0].icon+".png"'> {{item.dt_txt | date:'medium'}} - {{item.main.temp | number: '2.0-0'}}&deg; {{item.weather[0].description}}
    </div>
</div>